.idea/
__pycache__/
temp/
Java-Formatter/

# Ignore all zip files
*.zip

# Except in Example/
!Example/Example.zip

# Ignore jsconfig.json, which simply adds jQuery intellisense and autocomplete to VS Code
Library/jsconfig.json
