# Pycharm project directory
.idea/

# Python byte code
__pycache__/

# Temporary directory to extract zip files to
temp/

# Compiled exe
formatter.exe

# Ignore all zip files
*.zip

# Except in Example/
!Example/Example.zip

# Ignore jsconfig.json, which simply adds jQuery intellisense and autocomplete to VS Code
Library/jsconfig.json
