* { /* Styles for everything */
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	color: white;
}
body { /* Display style for background image & body */
	background-image: url('background_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 100%;
}
img, video { /* Size of images */
	max-height: 400px;
	max-width: 800px;
	width: auto;
}
audio {
	width: 400px;
}
.message-block { /* Positions all messages */
	margin-top: 110px;
	margin-left: 10px;
	margin-right: 10px;
}
h3 { /* Style for name at top */
	text-align: center;
	margin-top: 25px;
	vertical-align: middle;
	font-size: 40px;
}
.time { /* The timestamp in the bottom right of messages */
	bottom: 2px;
}
.date { /* The datestamp in the top right of messages */
	top: 2px;
}
.message-info { /* The message information at the right of messages */
	color: #7f7f84;
	font-size: 50%;
	position: absolute;
	right: 2px;
}
.ui { /* The black bar at the top containing the recipient name */
	background-color: #171717;
	position: fixed;
	margin: -10px;
	margin-top: -110px;
	width: 100%;
	height: 90px;
	z-index: 100;
}
.date-separator { /* The floating divs marking different days */
	border-radius: 5px;
	background-color: #7f7f84;
	opacity: 0.8;
	text-align: center;
	padding: 3px;
	border: 10px;
	position: relative;
	width: 20%;
	margin: auto;
	margin-bottom: 15px;
	clear: both; /* What does this mean? Who knows? But it makes it work */
}
.message { /* Style for all messages */
	margin: 5px 0; /* Sets 5px margins at top & bottom */
	max-width: 60%;
	clear: both;
	float: left;
	padding: 5px;
	padding-right: 67px;
	padding-top: 13px;
	border-radius: 5px;
	font-size: 1em;
    position: relative;
	min-width: 60px;
	width: auto;
}
code { /* Monospaced code blocks in messages */
	font-family: "Consolas", Courier, monospace;
}
div span { /* Sets brightness of message-info span inside div */
	filter: brightness(120%);
}
.recipient { /* Style for the recipient */
	background-color: #3c3c3e;
}
.sender { /* Style for the sender */
	background-color: #0f5247;
}
